<a href="https://colab.research.google.com/github/nicoelbert/AIS-Script/blob/master/aoe2net_aoe2insights_joint_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import numpy as np
import pandas as pd
import json

In [42]:
from google.colab import drive
drive.mount('/content/drive')

matches_df = pd.read_csv('drive/MyDrive/Uni/Lehrstuhl/aoe_data/joint_matches_df.csv')
matches_df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

    match_id  ...                                           input_fn
0  125537954  ...  drive/MyDrive/Uni/Lehrstuhl/aoe_data/record_fi...
1  125512678  ...  drive/MyDrive/Uni/Lehrstuhl/aoe_data/record_fi...
2  125508148  ...  drive/MyDrive/Uni/Lehrstuhl/aoe_data/record_fi...
3  125508135  ...  drive/MyDrive/Uni/Lehrstuhl/aoe_data/record_fi...
4  125504542  ...  drive/MyDrive/Uni/Lehrstuhl/aoe_data/record_fi...

[5 rows x 52 columns]

In [43]:
matches_df.describe()

           match_id   avg_rating  ...       winner        loser
count  1.299000e+03  1287.000000  ...  1299.000000  1299.000000
mean   1.185873e+08  1197.080031  ...     1.535797     1.464203
std    5.180361e+06   312.679962  ...     0.498909     0.498909
min    1.083439e+08   129.500000  ...     1.000000     1.000000
25%    1.146390e+08   982.250000  ...     1.000000     1.000000
50%    1.194469e+08  1141.500000  ...     2.000000     1.000000
75%    1.232323e+08  1378.500000  ...     2.000000     2.000000
max    1.255380e+08  2478.000000  ...     2.000000     2.000000

[8 rows x 44 columns]

In [44]:
matches_df.columns

Index(['match_id', 'recordfile', 'avg_rating', 'map_size', 'game_duration',
       'p1_civ', 'p2_civ', 'p1_strategy', 'p2_strategy', 'p1_feudal_time',
       'p1_castle_time', 'p1_imperial_time', 'p2_feudal_time',
       'p2_castle_time', 'p2_imperial_time', 'p1_builds', 'p1_que_units',
       'p2_builds', 'p2_que_units', 'p1_tc_x_pos', 'p1_tc_y_pos',
       'p2_tc_x_pos', 'p2_tc_y_pos', 'p1_Stone_close_forward',
       'p1_Stone_far_forward', 'p1_Stone_backward', 'p1_Gold_close_forward',
       'p1_Gold_far_forward', 'p1_Gold_backward', 'p1_Food_close_forward',
       'p1_Food_far_forward', 'p1_Food_backward', 'p1_Relic_close_forward',
       'p1_Relic_far_forward', 'p1_Relic_backward', 'p2_Stone_close_forward',
       'p2_Stone_far_forward', 'p2_Stone_backward', 'p2_Gold_close_forward',
       'p2_Gold_far_forward', 'p2_Gold_backward', 'p2_Food_close_forward',
       'p2_Food_far_forward', 'p2_Food_backward', 'p2_Relic_close_forward',
       'p2_Relic_far_forward', 'p2_Relic_backward', 'winner', 'loser',
       'winner_name', 'loser_name', 'input_fn'],
      dtype='object')

In [45]:
matches = matches_df.set_index('match_id').to_dict("index")

In [46]:
"""
fn = 'drive/MyDrive/Uni/Lehrstuhl/aoe_data/record_files/unziped/inputs/all_inputs.pkl'

with open(fn, 'rb') as f:
      my_dict = pickle.load(f)

"""

"\nfn = 'drive/MyDrive/Uni/Lehrstuhl/aoe_data/record_files/unziped/inputs/all_inputs.pkl'\n\nwith open(fn, 'rb') as f:\n      my_dict = pickle.load(f)\n\n"

In [47]:
import pickle
error_count = 0
tb_del = []

for index, match in enumerate(matches):
  try:
    with open(matches[match]['input_fn'], 'rb') as f:
      matches[match]['inputs'] = pickle.load(f)
      print(matches[match]['inputs'])
  except:
      error_count += 1
      tb_del.append(match)
  if index > 20:
    break
  print("Imported ", index, " / ", len(matches), " - error on :", error_count)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [48]:
import pickle
error_count = 0
tb_del = []

for index, match in enumerate(matches):
  with open(matches[match]['input_fn'], 'rb') as f:
    matches[match]['inputs'] = pickle.load(f)
    print(matches[match]['inputs'])
  if index > 20:
    break
  print("Imported ", index, " / ", len(matches), " - error on :", error_count)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [58]:
moves = {}

for index, match in enumerate(matches):
  if index < 20:
    for input in matches[match]['inputs']:
      row_id = str(match)+"-"+str(input)
      moves[row_id] = {}
      moves[row_id]['match_id'] = match
      moves[row_id]['move_id'] = input
      
      #read redundant data from matches into every row: 
      for key in matches[match].keys():
        moves[row_id][key] = matches[match][key]
      
      if matches[match]['inputs'][input]['player'] ==  moves[row_id]['winner_name']:
        moves[row_id]['acting_player'] = moves[row_id]['winner']
      elif matches[match]['inputs'][input]['player'] ==  moves[row_id]['loser_name']:
        moves[row_id]['acting_player']= moves[row_id]['loser']
      else: moves[row_id]['acting_player'] = 0
    
      break

In [ ]:
matches_df.plot.scatter(x="p_tc_x_pos", y ="p2_tc_y_pos", figsize = (15,15))

In [ ]:
tc_pos_df = matches_df

In [ ]:
#get distance to center
def get_distance(coord1: list,coord2: list):
  """returns distance between 2 2D Coordinates"""
  distance = np.linalg.norm(np.array(coord1)-np.array(coord2))
  return distance

def get_distance_to_center(coord):
  """ returns the distance between a 2D coordinate and the map center"""
  center_distance = get_distance(coord,[60,60])
  return center_distance

def norm_winner_coordinate(coordinate):
  if coordinate >= 60: 
    coordinate = 120 - coordinate 
  return coordinate

def norm_loser_coordinate(coordinate):
  if coordinate < 60: 
    coordinate = 120 - coordinate
  return coordinate

def get_quadrant(coord: list):
  """ returns the map quandrant in which a coordinate is 1: bottom left, 2: bottom right, 3: top left, 4: top right"""
  if coord[1] >= 60:
    if coord[0] < 60:
      quadrant =  3
    else:
      quadrant = 4
  else:
    if coord[0] < 60:
      quadrant =  1
    else:
      quadrant = 2

  return quadrant

def norm_coordinate(coord: list, tc_quadrant: int,winner: bool):
  """ returns a normalized coordinated according to the tc quadrant and therefore playing directions"""
  coord_quadrant = get_quadrant(coord)
  x_coord = coord[0]
  y_coord = coord[1]
  x_prev = x_coord
  y_prev = y_coord
  
  #start from winners view q1-> q4

  if tc_quadrant == 1:
    pass
  elif tc_quadrant == 2:
      x_coord = y_prev
      y_coord = 120-x_prev
  elif tc_quadrant == 3:
      x_coord = 120- y_prev
      y_coord = x_prev
  elif tc_quadrant == 4:
      x_coord = 120-x_prev
      y_coord = 120-y_prev
  

  #for losers view invert again
  if not winner: 
    x_prev = x_coord
    y_prev = y_coord
    x_coord = 120-x_prev
    y_coord = 120-y_prev

  return [x_coord,y_coord]

In [ ]:
tc_pos_normed = {}

for index, row in tc_pos_df.iterrows():
  tc_pos_normed[index] = {}

  tc_pos_normed[index]['game_id'] = row['match_id']
  tc_pos_normed[index]['winner'] = row['winner']
  
  #split in winner and loser
  if row['winner'] == 1:
    winner_x_pos = row['p1_tc_x_pos']
    winner_y_pos = row['p1_tc_y_pos']
    loser_x_pos = row['p2_tc_x_pos']
    loser_y_pos = row['p2_tc_y_pos']
  else:
    winner_x_pos = row['p2_tc_x_pos']
    winner_y_pos = row['p2_tc_y_pos']
    loser_x_pos = row['p1_tc_x_pos']
    loser_y_pos = row['p1_tc_y_pos']

  #save orginial position
  tc_pos_normed[index]['w_tc_quadrant'] = get_quadrant([winner_x_pos,winner_y_pos])
  tc_pos_normed[index]['l_tc_quadrant'] = get_quadrant([loser_x_pos,loser_y_pos])

  #2d normalize coordinates
  normed_w_coordinate = norm_coordinate([winner_x_pos,winner_y_pos],tc_pos_normed[index]['w_tc_quadrant'],True)
  normed_l_coordinate = norm_coordinate([loser_x_pos,loser_y_pos],tc_pos_normed[index]['l_tc_quadrant'],False)
  
  tc_pos_normed[index]['w_tc_x_pos'] = normed_w_coordinate[0]
  tc_pos_normed[index]['w_tc_y_pos'] = normed_w_coordinate[1]
  tc_pos_normed[index]['l_tc_x_pos'] = normed_l_coordinate[0]
  tc_pos_normed[index]['l_tc_y_pos'] = normed_l_coordinate[1]
  
  
  """
  tc_pos_normed[index]['wo_tc_x_pos'] = winner_x_pos
  tc_pos_normed[index]['wo_tc_y_pos'] = winner_y_pos
  tc_pos_normed[index]['lo_tc_x_pos'] = loser_x_pos
  tc_pos_normed[index]['lo_tc_y_pos'] = loser_y_pos
  """


  #calc center distances and round to int
  tc_pos_normed[index]['w_tc_center_dist'] = -int(get_distance_to_center([tc_pos_normed[index]['w_tc_x_pos'],tc_pos_normed[index]['w_tc_y_pos']]))
  tc_pos_normed[index]['l_tc_center_dist'] = int(get_distance_to_center([tc_pos_normed[index]['l_tc_x_pos'],tc_pos_normed[index]['l_tc_y_pos']]))


tc_pos_normed_df = pd.DataFrame.from_dict(tc_pos_normed,orient="index")

In [ ]:
tc_pos_normed_df.head()
#norm 2d focus on center and plot to see if distance plot makes sense
#then norm 1 d with distance to center via function -> heatmap

In [ ]:
tc_pos_normed_df.describe()

In [ ]:

ax = tc_pos_normed_df.plot.scatter(x="w_tc_x_pos", y ="w_tc_y_pos",c="blue", figsize = (15,15), label = "Winning TC Positions")
tc_pos_normed_df.plot.scatter(x="l_tc_x_pos", y ="l_tc_y_pos",c="red", figsize = (15,15), label = "Losing TC Positions", ax = ax)
ax.set_xlabel("normalized X Coordinate")
ax.set_ylabel("normalized Y Coordinate")

In [ ]:
import numpy as np
import numpy.random
import matplotlib.pyplot as plt

# Generate some test data
x = np.random.randn(8873)
y = np.random.randn(8873)

heatmap, xedges, yedges = np.histogram2d(tc_pos_normed_df['w_tc_x_pos'], tc_pos_normed_df['w_tc_y_pos'], bins=(120,120))
extent = [xedges[0], xedges[-1], yedges[0], yedges[-1]]

plt.clf()
plt.figure(figsize=(15,15))
plt.legend()
plt.imshow(heatmap.T, extent=extent, origin='lower')
plt.show()

In [ ]:

ax = tc_pos_normed_df["w_tc_center_dist"].plot.hist(bins = 120, figsize = (15,15), label = "Winning TC Positions")
tc_pos_normed_df["l_tc_center_dist"].plot.hist(bins = 120, figsize = (15,15),label = "Losing TC Positions",ax = ax)